.disableddiv {
    pointer-events: none;
    opacity: 0.4;
}
.arrow-up::before {
    content: "\25B2";
    /* Unicode for upward arrow */
}

.arrow-down::before {
    content: "\25BC";
    /* Unicode for downward arrow */
}

.collapse.show+.text-center .btn-link #collapse-indicator {
    transition: 0.3s;
    transform: rotate(180deg);
}

/* Custom style for larger form-switch */
.form-switch .form-check-input {
    width: 2.3rem;
    height: 1.1rem;
}

.form-check-label {
    padding-left: 12px;
    /* Adjust the padding value as needed */
}